.email-form h2 {
    margin-bottom: 2rem;
}

.input-areas::placeholder {
    color: #b1b1b1;
}

.input-areas {
    padding: 8px 20px;
    border-radius: 2px;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border: none;
    font-size: 18px;
    /* margin-bottom: 16px; */
    /* border: 1px solid #fff; */
}


.sign-up-btns {
    margin-top: 32px;
    height: 40px;
}

.sign-up-btns .btn {
    margin: 0px;
    width: 150px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sign-up {
    align-content: center;
}
.input-box {
    padding: 8px 20px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 16px;
    border: 1px solid #fff;
}

.sign-up-input {
    padding: 8px 20px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 16px;
    color: #000;

}

.input-box-mr {
    padding: 8px 20px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 16px;
    border: 1px solid #fff;
    color: #b1b1b1;
}